# Acquiring the Load Test Result

The test result can be acquired after the load test is completed.



